/* colors */
$black: #000;
$white: #fff;
$btn: #448aff;

/* dimensions */

/* media breakpoints */
$w1441: 1441px;
$w1367: 1367px;
$w1281: 1281px;
$w1153: 1153px;
$w1025: 1025px;
$w831: 831px;
$w769: 769px;
$w577: 577px;
$w481: 481px;
$w426: 426px;
$w376: 376px;
$w361: 361px;