.btn {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: $btn;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  user-select: none;
  margin: 0 5px 5px 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &-link {
    position: relative;

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

  }

  &-loading {
    cursor: wait;
  }

  &-loading::after {
    content: '';
    width: 12px;
    min-width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-left-color: transparent !important;
    margin-left: 10px;
    -webkit-transition: -webkit-transform .5s linear;
    transition: transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear, -webkit-transform .5s linear;
    -webkit-animation: .5s linear infinite loadingrotate;
    animation: .5s linear infinite loadingrotate;
    display: inline-block;
  }

  @-webkit-keyframes loadingrotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
    }
  }

  @keyframes loadingrotate {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0)
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg)
    }
  }

  &-success::after {
    content: '';
    width: 15px;
    min-width: 14px;
    height: 9px;
    border: 2px solid #fff;
    -webkit-animation: none;
    animation: none;
    min-width: 12px;
    display: inline-block;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg) translateX(4px);
    -ms-transform: rotate(-45deg) translateX(4px);
    transform: rotate(-45deg) translateX(4px);
    margin-left: 10px;
    position: relative;
    left: 5px;
  }

  &-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &-round {
    border-radius: 80px;
  }

}