include ../../components/burger/burger
.mobileMenu
  .container
    .mobileMenu-header
      .mobileMenu-header__toggle
        +burger('open')
    .mobileMenu-nav
      ul.mobileMenu-nav__ul
    .mobileMenu-footer