.container
  .footer
    .footer-logo
      .footer-logo__img
        //- img(src="../img/svg/logo.svg",width="126", height="49", loading="lazy", alt="")
    .footer-nav
      ul.footer-nav__ul
    .footer-feedback